.main{
	height: 33.3vh;
	width: 100vw;
	cursor: crosshair;
	position: relative;
}

.container{
	padding: 0;
	margin: 0;
}

#resume{
	background-color: #e07a5f;	
	border-top: 1vh #f4f1de solid;
	border-bottom: 1vh #f4f1de solid;
}

#code{
	background-color: #81b29a;
	border-bottom: 1vh #f4f1de solid;

}

#art{
	background-color: #f2cc8f;
	border-bottom: 1vh #f4f1de solid;
}

body{
	background-color: #3d405b;
	position: fixed;
}

p{ 
	font-weight: bold;
	font-size: 400%;
	color: white;
}